
  <footer>
    <div class="sub-footer">
      <div class="container">
        <div class="row">
        <div class="col">
          <h6 class="title">ORBIT M&amp;TG</h6>
          <p>Designed &amp; Crafted in SMALL BATCH at Our in House Studio in Jakarta, Indonesia.</p>
        </div>
        <div class="col">
          <h6 class="title">CUSTOMER SERVICES</h6>
          <ul class="footer_menu">
            <li><a href="/pages/contact">CONTACT US</a></li>
            <li><a href="/pages/limited-lifetime-warranty">LIFETIME WARRANTY</a></li>
            <li><a href="/pages/kebijakan-privasi">KEBIJAKAN PRIVACY</a></li>
            <li><a href="/pages/kebijakan-pengembalian-penukaran">KEBIJAKAN PENGEMBALIAN & PENUKARAN</a></li>
            <li><a href="/pages/kebijakan-website">KEBIJAKAN WEBSITE</a></li>
            <li><a href="/pages/kebijakan-pengiriman">INFORMASI PENGIRIMAN</a></li>
            <li><a href="/pages/contact">PRESS INQUIRY</a></li>
            <li><a href="/pages/hubungi-kami">RETAILER / WHOLESALE INQUIRY</a></li>
            <li><a href="/pages/careers">CAREERS</a></li>
          </ul>
        </div>
        <div class="col">
          <h6 class="title">News &amp; Updates</h6>
          <p>Sign up to get the latest on sales, new releases and more …</p>
          <div class="newsletter  clearfix">
            <p class="message"></p>
            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
              <input type="hidden" name="form_type" value="customer" />
              <input type="hidden" name="utf8" value="✓" />
              <input type="hidden" name="contact[tags]" value="newsletter"/>
              <input type="hidden" name="challenge" value="false">  
              <input type="email" class="contact_email" name="contact[email]" required placeholder="Enter your email address..." autocorrect="off" autocapitalize="off" />
              <input type='submit' class="action_button sign_up" value="Sign Up" />
            </form>
          </div>
        </div>
        <div class="col">
          <h6 class="title">ORBIT Gear HQ</h6>
          <p>Jalan Abdul Majid Dalam 3 No.4<br>Cilandak, South Jakarta<br>Jakarta 12410, ID</p>
          <p>info@orbitgear.net |&nbsp;+62 812 95 2300 80</p>
          <ul class="list-group list-group-horizontal social_icons">
            <li><a href="https://twitter.com/orbitgear" title="ORBIT Gear Indonesia on Twitter" rel="me" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li><a href="https://www.facebook.com/orbitgear" title="ORBIT Gear Indonesia on Facebook" rel="me" target="_blank"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://id.pinterest.com/orbitgear/" title="ORBIT Gear Indonesia on Pinterest" rel="me" target="_blank"><span class="fa fa-pinterest-p"></span></a></li>
            <li><a href="https://instagram.com/orbitgear" title="ORBIT Gear Indonesia on Instagram" rel="me" target="_blank"><span class="fa fa-instagram"></span></a></li>
            <li><a href="mailto:info@orbitgear.net" title="Email ORBIT Gear Indonesia" rel="me" target="_blank"><span class="fa fa-envelope-o"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="footer ">
      <div class="container">
        <div class="sixteen columns">
          <p class="credits">
            &copy; 2019 <a href="/" title="">ORBIT Gear Indonesia</a>.
            Made in Indonesia
            <a href="#"> | Part of ORBIT Gear Indonesia Group</a>
          </p>
        <div class="payment_methods">
          <img src="img/master.svg" alt="Master" />
          <img src="img/visa.svg" alt="Visa" />
        </div>
      </div>
    </div>
  </footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="bootsrap/js/bootsrap.min.js"></script>


   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
	      baguetteBox.run('.cards-gallery', {animation: 'slideIn'});
	  </script>
</body>
</html>