<!DOCTYPE html>
<html>
<head>
        <link rel="icon" type="assets/img/image/png" href="<?php echo base_url("assets/img/image/favicon_32x32.png");?>">
        <title>Account - ORBIT Gear Indonesia</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--bootsrap css-->
      <link href="<?php echo base_url("assets/bootsrap/css/bootstrap.min.css"); ?>" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--CSSLINK-->
      <link rel="stylesheet" type="text/css" href="<?php echo base_url("assets/css/firstload.css"); ?>">
      <!--nav-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    
</head>
<body>
  